.homepage {
  background: none;
}
.homepage .container {
  width: 960px !important;
}
.container {
  width: 960px;
}
.container .col-sm-4 {
  float: left;
  width: 306.66666667px;
}
.container .col-sm-6 {
  float: left;
  width: 460px;
}
