extends layout 
block content_here
	div#head-nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.fa.fa-gear
				//- a.navbar-brand(href='tables-datatables.html#')
					span Hy
			div.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/admin/index") 返回
					li
						a(href='/admin/dealer') 客户查询
					li
						a(href='/admin/dealer/active') 活动实施 
					li.active
						a(href="/admin/password") 修改密码
					li
						a(href="/admin/out") 退出
	div#cl-wrapper
		div#pcont.container-fluid(style="margin:0px;")
			div.page-head
				h2 修改密码
				ol.breadcrumb
					li
						a(href='/admin/index') 首页
					li.active 修改米啊
			div.cl-mcont
				div.row
					div.col-md-12
						div.block-flat
							div.header
								h3 修改密码
							div.content
								form.form-horizontal.group-border-dashed(action="/admin/password")
									div.form-group
										label.col-sm-3.control-label 原密码
										div.col-sm-6
											input.form-control(type="password",name="password")
									div.form-group
										label.col-sm-3.control-label 新密码
										div.col-sm-6
											input.form-control(type="password",name="newpass")
									div.form-group
										label.col-sm-3.control-label 确认密码
										div.col-sm-6
											input.form-control(type="password",name="newpass2")
												
									div(style="text-align:center;")
										button.btn.btn-primary(type="button") 修改


								


block js_here
	script.
		$(document).ready(function(){
			$("[type=button]").click(function(){
				postpass()
			});
		});

		function postpass() {
			if ($("[name=newpass]").val() != $("[name=newpass2]").val()) {
				alert("两次密码不相同.");
				return false;
			}
			$.ajax({
				url: $(".form-horizontal").attr("action"),
				type: 'POST',
				data: $(".form-horizontal").serializeArray(),
				dataType: 'json',
				context: $('body'), 
				success: function(msg){
					if (msg.recode == 200){
						alert("密码修改成功");
						window.location.reload();
					}else{
						alert(msg.reason);
					}
				}
			});
			return false;
		}
