extends layout 
block content_here
	div#head-nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.fa.fa-gear
				a.navbar-brand(href='tables-datatables.html#')
					span Hy
			div.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/admin/dealer') 客户查询
					li.active
						a(href='/admin/dealer/active') 活动实施 
	div#cl-wrapper
		div#pcont.container-fluid(style="margin:0px;")
			div.page-head
				h2 客户查询
				ol.breadcrumb
					li
						a(href='/admin/dealer') 经销商管理
					li.active 客户列表
			div.cl-mcont
				div.row
					div.col-md-12
						div.block-flat
							div.header
								h3 活动实施
							div.content
								form.form-horizontal.group-border-dashed(action="/admin/dealer/info")
									div.form-group
										label.col-sm-3.control-label 验证码
										div.col-sm-6
											input.form-control(type="text",name="code")
									div(style="text-align:center;")
										button.btn.btn-primary(type="button") 查询


								


block js_here
	script.
		$(document).ready(function(){
			$("[type=button]").click(function(){
				if ($("[name=code]").val() == "" || $("[name=code]").val().length != 7) {
					return alert("验证码格式不正确");
				}
				window.location.href = "/admin/dealer/info?code="+$("[name=code]").val();
			});
		}); 
