extends layout 
block content_here
	div#head-nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.fa.fa-gear
				//- a.navbar-brand(href='tables-datatables.html#')
					span Hy
			div.navbar-collapse.collapse
				ul.nav.navbar-nav(style="width:100%;")
					
					li
						a(href='/admin/dealer') 客户查询
					-if(openmenu)
						li
							a(href='/admin/dealer/active') 活动实施 
					li
						a(href="/admin/password") 修改密码
					li(style="float:right;")
						a(href="/admin/out") 退出
					li.active(style="float:right;")
						a(href="/admin/index") 返回
	div#cl-wrapper
		div#pcont.container-fluid(style="margin:0px;")
			div.page-head
				h2 首页 
			div.cl-mcont
				.stats_bar
					a(href="/admin/dealer").butpro.butstyle
						.sub
							h2  
							span 客户查询
							div.stat
				-if(new Date().getDate()>15)
					.stats_bar
						a(href="/admin/dealer/active").butpro.butstyle
							.sub
								h2  
								span 活动实施
								div.stat    
				.stats_bar
					a(href="/admin/password").butpro.butstyle
						.sub
							h2  
							span 修改密码
							div.stat  
				.stats_bar
					a(href="/admin/out").butpro.butstyle
						.sub
							h2  
							span 退出
							div.stat    
			
block js_here
	