<% include header %>

<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="fa fa-gear"></span></button>
    </div>
    <div class="navbar-collapse collapse">
      <ul style="width:100%" class="nav navbar-nav">
        <li><a href="/admin/dealer">客户查询</a></li>
        <li><a href="/admin/dealer/active">活动实施 </a></li>
        <li class="active"><a href="/admin/password">修改密码</a></li>
        <li style="float:right;"><a href="/admin/out">退出</a></li>
        <li style="float:right;"><a href="/admin/index">返回</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="cl-wrapper">
  <div id="pcont" style="margin:0px;" class="container-fluid">
    <div class="page-head">
      <h2>修改密码</h2>
      <ol class="breadcrumb">
        <li><a href="/admin/index">首页</a></li>
        <li class="active">修改密码</li>
      </ol>
    </div>
    <div class="cl-mcont">
      <div class="row">
        <div style="width:33%;float:none;margin:0 auto;" class="col-md-12">
          <div class="block-flat">
            <div class="header">
              <h3>修改密码</h3>
            </div>
            <div class="content">
              <form action="/admin/password" class="form-horizontal group-border-dashed">
                <div class="form-group">
                  <label class="col-sm-3 control-label">原密码</label>
                  <div class="col-sm-6">
                    <input type="password" name="password" class="form-control"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">新密码</label>
                  <div class="col-sm-6">
                    <input type="password" name="newpass" class="form-control"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">确认密码</label>
                  <div class="col-sm-6">
                    <input type="password" name="newpass2" class="form-control"/>
                  </div>
                </div>
                <div style="text-align:center;">
                  <button type="button" class="btn btn-primary">修改</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $("[type=button]").click(function(){
        postpass()
      });
    });

    function postpass() {
      if ($("[name=newpass]").val() != $("[name=newpass2]").val()) {
        alert("两次密码不相同.");
        return false;
      }
      $.ajax({
        url: $(".form-horizontal").attr("action"),
        type: 'POST',
        data: $(".form-horizontal").serializeArray(),
        dataType: 'json',
        context: $('body'), 
        success: function(msg){
          if (msg.recode == 200){
            alert("密码修改成功");
            window.location.reload();
          }else{
            alert(msg.reason);
          }
        }
      });
      return false;
    }
</script>

<% include footer %>