doctype
html(lang="en").no-js
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		meta(name="format-detection",content="telephone=no")
		meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		//- script(src="js/viewport.js")
		title 北京现代感恩置换活动
		
		block css_here
	body.texture
		div(style="position:absolute;top:40%;left:0px;width:100%;text-align:center;")
			h1 活动已经结束
				//- br 
				//- |如有问题，请致电北京现代客服中心: 400-800-1100

		block js_here
		div(style="display:none;")
			script.
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9706c3fbe4a009440e4cea5c853ff72c' type='text/javascript'%3E%3C/script%3E"));