extends layout 
block content_here
	//- div.header
		div.logo
			img(src="/img/logo.jpg")
	div.form-list(style="display:block;")
		div.container
				div.row
					div.col-sm-6.col-sm-offset-3
						div.title-1
							img(src="/img/title-3.png")
						div.box-c
							//- 
							h1.blue #{code}验证码已经成功发送到您注册的手机
							p 请于2014年7月16日-8月31日期间凭验证码到您所选择的经销商处参加活动。
							p.note(style="text-align:left;") *如验证码不慎丢失，请回活动网站首页进行验证码找回或联系北京现代客服中心
							p.note 400-800-1100
						a.nextstep(href="/") 返回首页